body{
  display:flex;
  flex-direction:column;
  min-height:100vh;
}
.background {
    background-color: #c1c1c1;
    padding-bottom: 50px;
    flex:1;

}

.page-footer {
  padding:8px;
  background:#333;
  color:#fff;
}

.footer-copyright {
    color: #666;
    padding-bottom: 10px;
    align-content: center;
}

.top-distance {
    margin-top: 40px;
}

.img-shown {
    width: auto;
}

.pseudolink { 
   color:blue; 
   text-decoration:underline; 
   cursor:pointer; 
   }